<div class="header uk-wdith-1-1">
  <div class="uk-grid uk-grid-collapse uk-container-center uk-width-large-3-6 uk-width-medium-4-6 uk-width-2-3 height-100">
    <div class="uk-width-1-1 height-100 uk-flex uk-flex-middle">
       <div class="uk-grid uk-grid-collapse uk-width-1-1">
         <div class="uk-width-large-1-2 uk-width-medium-1-2 uk-width-1-1">
           <div class="header-photo uk-flex uk-flex-middle">
             <img src="/assets/img/profile.jpg" />
           </div>
         </div>
         <div class="uk-width-large-1-2 uk-width-medium-1-2 uk-width-1-1 uk-flex uk-flex-middle">
           <div class="uk-width-1-1">
              <div class="header-title">
                <p class="name">Jorge</p>
                <p class="lastname">Linhares</p>
              </div>
              <div class="header-social">
                <ul>
                  <li>
                    <a href="https://medium.com/@jorgelinhares" target="_blank" data-uk-tooltip title="Medium">
                      <i class="fa fa-medium icons-sociais fa-2x"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://br.linkedin.com/in/jorge-linhares-a6a0a485" target="_blank" data-uk-tooltip title="Linkedin">
                      <i class="fa fa-linkedin-square icons-sociais fa-2x"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://github.com/jorgehclinhares" target="_blank" data-uk-tooltip title="Github">
                      <i class="fa fa-github icons-sociais fa-2x"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.facebook.com/jorgehclinhares" target="_blank" data-uk-tooltip title="Facebook">
                      <i class="fa fa-facebook icons-sociais fa-2x"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://twitter.com/jorgehclinhares" target="_blank" data-uk-tooltip title="Twitter">
                      <i class="fa fa-twitter icons-sociais fa-2x"></i>
                    </a>
                  </li>
                </ul>
              </div>
           </div>
         </div>
       </div>
    </div>
  </div>
</div>