<div class="section-title">
  <i class="fa fa-file-code-o" aria-hidden="true"></i> Experiência
</div>
<div class="horizontal-line">
  <div class="item" *ngFor="let xp of experience">
    <div class="circle"></div>
    <div class="content">
      <span *ngIf="xp?.date?.init">{{ xp.date.init }} / </span>
      <span *ngIf="xp?.date?.finish" class="date">{{ xp?.date?.finish }}</span>
      <span> | </span>
      <span class="title">{{ xp.title }}</span>
      <div class="detail uk-width-1-1" *ngFor="let item of xp.item">
        <p class="title">{{ item.title }}</p>
        <p *ngFor="let desc of item.description">{{ desc }}</p>
      </div>
    </div>
  </div>
</div>