<div class="section-title">
  <i class="fa fa-graduation-cap" aria-hidden="true"></i> Formação
</div>
<div class="horizontal-line">
  <div class="item" *ngFor="let time of timeline">
    <div class="circle"></div>
    <div class="content">
      <span *ngIf="!time?.date?.init && time?.date?.finish" class="date">{{ time?.date?.finish }} | </span>
      <span *ngIf="time?.date?.init && time?.date?.finish" class="date">{{ time.date.init }} / {{ time.date.finish }} | </span>
      <span class="title">{{ time.title }}</span>
      {{ time.description }}
    </div>
  </div>
</div>