.card {
  background: white;
  margin: 0 10px 20px 10px !important;
  border-radius: 10px 10px 4px 4px;
}

.card-image {
  box-sizing: border-box;
  height: 90px;
  background-repeat: no-repeat !important;
  background-position: center;
  background-size: contain;
  padding: 0 10px;
  -webkit-transition: all 0.2s; /* Safari */
  transition: all 0.2s;
  border-radius: 6px 6px 0 0;
}

.card-image:hover {
  height: 180px;
  -webkit-transition: all 0.2s; /* Safari */
  transition: all 0.2s;
}

.container-text {
  padding: 10px 15px;
}

h2 {
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
}

p {
  color: #444;
}

.content-icon
.icon {
  width: 25px;
}

li {
  display: inline;
}