<div class="body-content uk-width-1-1">
  <div class="uk-grid uk-grid-collapse uk-container-center uk-width-large-4-6 uk-width-medium-5-6 uk-width-4-5 height-100">
    <!-- Linguagens e Tecnologias -->
    <div class="uk-width-1-1">
      <div class="section-title">
        <i class="fa fa-code" aria-hidden="true"></i> Linguagens e Tecnologias
      </div>
    </div>
    <div class="uk-width-large-1-2 uk-width-medium-1-2 uk-width-1-1">
      <div class="skill item uk-grid uk-grid-collapse" *ngFor="let tech of technologiesLeft">
        <div class="uk-width-3-5">
          {{ tech.title }}
        </div>
        <div class="uk-width-2-5">
          <div class="{{ style }}" *ngFor="let style of tech.level"></div>
        </div>
      </div>
    </div>
    <div class="uk-width-large-1-2 uk-width-medium-1-2 uk-width-1-1">
      <div class="skill item uk-grid uk-grid-collapse" *ngFor="let tech of technologiesRight">
        <div class="uk-width-3-5">
          {{ tech.title }}
        </div>
        <div class="uk-width-2-5">
          <div class="{{ style }}" *ngFor="let style of tech.level"></div>
        </div>
      </div>
    </div>
  </div>
</div>