<app-header></app-header>

<div class="body-content uk-width-1-1">
  <div class="uk-grid uk-grid-collapse uk-container-center uk-width-large-4-6 uk-width-medium-5-6 uk-width-4-5 height-100">
    <div class="graduation uk-width-large-1-2 uk-width-medium-1-2 uk-width-1-1">
      <app-timeline [timeline]="timeline"></app-timeline>
    </div>
    <div class="experience uk-width-large-1-2 uk-width-medium-1-2 uk-width-1-1">
      <app-experience [experience]="experience"></app-experience>
    </div>
  </div>
</div>

<app-technology [technologiesLeft]="technologiesLeft" [technologiesRight]="technologiesRight"></app-technology>

<app-projects [projects]="projects"></app-projects>