.header {
  background-image: url('/assets/img/michal-parzuchowski-37537.jpg');
  height: 600px;
  background-size: cover;
  background-position: center;
}
@media (max-width: 768px) { 
  .header {
    background-image: url('/assets/img/michal-parzuchowski-37537.jpg');
    height: 400px;
    background-size: cover;
    background-position: center;
  }
}

.header-title {
  color: #FFFFFF;
  text-align: right;
}

.header-title p {
  margin: 0;
  padding: 0;
}

.header-title .name {
  font-size: 50px;
  font-weight: 300;
  line-height: 50px;
  letter-spacing: -1px;
}

@media (max-width: 768px) {
  .header-title .name {
    font-size: 30px;
    line-height: 30px;
    text-align: center;
  }
}

.header-title .lastname {
  font-size: 70px;
  font-weight: 600;
  line-height: 80px;
  letter-spacing: -1px;
}

@media (max-width: 768px) {
  .header-title .lastname {
    font-size: 50px;
    line-height: 60px;
    text-align: center;
  }
}

.header-photo {
  width: 200px;
  height: 200px;
  border-radius: 105px;
  border: 2px solid #FFFFFF;
}

.header-photo img {
  width: 160px;
  height: 160px;
  border-radius: 80px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .header-photo {
    width: 150px;
    height: 150px;
    border-radius: 105px;
    border: 2px solid #FFFFFF;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  
  .header-photo img {
    width: 120px;
    height: 120px;
    border-radius: 80px;
    margin: 0 auto;
  }
}

.header-social ul {
  list-style: none;
  font-size: 12px;
  color: #FFFFFF;
  margin-top: 20px;
  float: right;
}
@media (max-width: 768px) {
  .header-social ul {
    width: 180px;
    float: none;
    margin: 0 auto;
    margin-top: 10px;
  }
}

.header-social ul li a {
  color: #FFFFFF;
  opacity: 0.6;
  text-decoration: none;
}

.header-social ul li a:hover {
  color: #FFFFFF;
  opacity: 1;
}

.header ul li {
  display: inline;
  margin: 0 7px;
}

.body-content {
  padding: 30px 0;
}

@media (max-width: 768px) { 
  .body-content {
    padding: 0;
  }
}

.section-title {
  font-size: 22px;
  font-weight: 300;
  padding: 30px 0;
}
.section-title i {
  margin-right: 10px;
}

.horizontal-line {
  border-left: 1px dashed #2f2f2f;
  padding: 5px 0;
}

.horizontal-line .item {
  margin: 20px 0 20px -10px;
}

.horizontal-line .item .circle {
  margin: 0;
}

.horizontal-line .item .content {
  margin-left: 30px;
}

.horizontal-line .item .content .date {
  font-weight: 600;
  margin-right: 5px;
}

.horizontal-line .item .content .title {
  font-weight: 600;
}

.horizontal-line .item .content .detail {
  margin-top: 20px;
}
.horizontal-line .item .content .detail p {
  margin: 10px 0 10px 5px;
}

.graduation {
  padding-right: 30px;
}

.experience {
  padding-left: 30px;
}

@media (max-width: 768px) { 
  .graduation {
    padding-right: 0px;
  }
  
  .experience {
    padding-left: 0px;
  }
}  

.circle {
  width: 20px;
  height: 20px;
  background-color: #2f2f2f;
  border-radius: 20px;
  float: left;
  margin: 0 2px;
}

.circle-o {
  width: 14px;
  height: 14px;
  border: 3px solid #2f2f2f;
  border-radius: 20px;
  float: left;
  margin: 0 2px;
}

.skill.item {
  padding: 5px 0;
}

.projects .item {
  width: 100px;
  height: 100px;
  background-color: #FFFFFF;
  border: 1px solid #F0F0F0;
  border-radius: 50px;
  background-size: cover;
  background-position: center;
  margin: 0 10px;
  cursor: pointer;
}